<?xml version='1.0' encoding='utf-8'?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>anypoint-exchange-v2</id>
      <username>${env.EXCHANGE_USER}</username>
      <password>${env.EXCHANGE_PASS}</password>
    </server>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>${env.EXCHANGE_USER}</username>
      <password>${env.EXCHANGE_PASS}</password>
    </server>
    <server>
      <id>exchange-server</id>
      <username>${env.EXCHANGE_USER}</username>
      <password>${env.EXCHANGE_PASS}</password>
    </server>
  </servers>
    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>all-mule-repositories</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>MuleRepository</id>
                    <name>Mule Enterprise Repository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>archetype</id>
                    <name>MuleSoft Public Repository</name>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>codehaus-mule-repo</id>
                    <name>Codehaus Mule Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/groups/public/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>all-mule-repositories</activeProfile>
    </activeProfiles>
</settings>