<?xml version="1.0" encoding="UTF-8"?>
<!--
==============================================================================
  🚀 PARENT POM TEMPLATE: common-pom-parent.xml.template
  Este arquivo é gerado a partir do exemplo enviado e contém placeholders {{VAR}}
  que serão substituídos pelo script Python usando o JSON de versões do parent.
==============================================================================
-->
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">

    <!-- Versão do modelo POM -->
    <modelVersion>4.0.0</modelVersion>

    <!-- (1) Herança do BOM -->
    <parent>
        <groupId>{{PARENT_GROUP_ID}}</groupId>
        <artifactId>{{PARENT_ARTIFACT_ID}}</artifactId>
        <version>{{PARENT_VERSION}}</version>
    </parent>

    <!-- (2) Identificação do Parent POM -->
    <groupId>{{GROUP_ID}}</groupId>
    <artifactId>{{ARTIFACT_ID}}</artifactId>
    <version>{{VERSION}}</version>
    <packaging>pom</packaging>

    <name>{{ARTIFACT_ID}}</name>
    <description>{{DESCRIPTION}}</description>

    <!-- (3) Propriedades Customizadas -->
    <properties>
        <!-- ⚙️ CloudHub -->
        <env>{{env}}</env>
        <region>{{region}}</region>
        <cloudhub.vcores>{{cloudhub.vcores}}</cloudhub.vcores>
        <cloudhub.replicas>{{cloudhub.replicas}}</cloudhub.replicas>
        <provider>{{provider}}</provider>
        <generateDefaultPublicUrl>{{generateDefaultPublicUrl}}</generateDefaultPublicUrl>

        <!-- 📡 API / Visualizer -->
        <api.id>{{api.id}}</api.id>
        <api.version>{{api.version}}</api.version>
        <visualizer.tags>{{visualizer.tags}}</visualizer.tags>

        <!-- 🧪 MUnit Cobertura -->
        <coverage.runCoverage>{{coverage.runCoverage}}</coverage.runCoverage>
        <coverage.failBuild>{{coverage.failBuild}}</coverage.failBuild>
        <coverage.requiredCoverage>{{coverage.requiredCoverage}}</coverage.requiredCoverage>
        <coverage.format.console>{{coverage.format.console}}</coverage.format.console>
        <coverage.format.sonar>{{coverage.format.sonar}}</coverage.format.sonar>
        <coverage.format.json>{{coverage.format.json}}</coverage.format.json>
        <coverage.format.html>{{coverage.format.html}}</coverage.format.html>

        <!-- 🏷 Naming Pattern -->
        <app.layer>{{app.layer}}</app.layer>
        <app.namingPattern>{{app.namingPattern}}</app.namingPattern>
        <mule.app.classifier>{{mule.app.classifier}}</mule.app.classifier>

        <!-- Layers no Visualizer -->
        <api.layer.xapi>{{api.layer.xapi}}</api.layer.xapi>
        <api.layer.papi>{{api.layer.papi}}</api.layer.papi>
        <api.layer.sapi>{{api.layer.sapi}}</api.layer.sapi>
        <api.layer.backend>{{api.layer.backend}}</api.layer.backend>
        <api.layer.dmz>{{api.layer.dmz}}</api.layer.dmz>
        <api.layer.none>{{api.layer.none}}</api.layer.none>

        <!-- 🔒 Repositório / Distribuição -->
        <serverId>{{serverId}}</serverId>
        <organization.id>{{organization.id}}</organization.id>
        <repository.layout>{{repository.layout}}</repository.layout>
        <corporate-repository.layout>{{corporate-repository.layout}}</corporate-repository.layout>

        <!-- URLs -->
        <anypoint.platform.url>{{anypoint.platform.url}}</anypoint.platform.url>
        <base.maven.anypoint.url>{{base.maven.anypoint.url}}</base.maven.anypoint.url>
        <anypoint.exchange.v2.url>{{anypoint.exchange.v2.url}}</anypoint.exchange.v2.url>
        <private.exchange.url>{{private.exchange.url}}</private.exchange.url>

        <!-- Versões de plugins -->
        <mule.maven.plugin.version>{{mule.maven.plugin.version}}</mule.maven.plugin.version>
        <munit.version>{{munit.version}}</munit.version>
    </properties>

    <!-- (4) Build & Plugin Management -->
    <build>
        <finalName>{{finalName}}</finalName>
        <pluginManagement>
            <plugins>
                <!-- Mule Maven Plugin -->
                <plugin>
                    <groupId>org.mule.tools.maven</groupId>
                    <artifactId>mule-maven-plugin</artifactId>
                    <version>{{mule.maven.plugin.version}}</version>
                    <extensions>true</extensions>
                    <configuration>
                        <classifier>{{mule.app.classifier}}</classifier>
                        <cloudhub2Deployment>
                            <uri>{{anypoint.platform.url}}</uri>
                            <provider>{{provider}}</provider>
                            <environment>{{env}}</environment>
                            <target>{{region}}</target>
                            <server>{{serverId}}</server>
                            <applicationName>{{app.namingPattern}}</applicationName>
                            <muleVersion>{{app.runtime}}</muleVersion>
                            <releaseChannel>{{releaseChannel}}</releaseChannel>
                            <replicas>{{cloudhub.replicas}}</replicas>
                            <vCores>{{cloudhub.vcores}}</vCores>
                            <javaVersion>{{java.version}}</javaVersion>
                            <deploymentSettings>
                                <generateDefaultPublicUrl>{{generateDefaultPublicUrl}}</generateDefaultPublicUrl>
                                <updateStrategy>{{updateStrategy}}</updateStrategy>
                                <lastMileSecurity>{{lastMileSecurity}}</lastMileSecurity>
                                <forwardSslSession>{{forwardSslSession}}</forwardSslSession>
                                <disableAmLogForwarding>{{disableAmLogForwarding}}</disableAmLogForwarding>
                                <clustered>{{clustered}}</clustered>
                            </deploymentSettings>
                            <integrations>
                                <services>
                                    <objectStoreV2>
                                        <enabled>{{objectStoreV2.enabled}}</enabled>
                                    </objectStoreV2>
                                </services>
                            </integrations>
                            <secureProperties>
                                <key>{{key}}</key>
                            </secureProperties>
                            <properties>
                                <env>{{env}}</env>
                                <api.id>{{api.id}}</api.id>
                                <api.version>{{api.version}}</api.version>
                                <anypoint.platform.visualizer.tags>{{visualizer.tags}}</anypoint.platform.visualizer.tags>
                            </properties>
                        </cloudhub2Deployment>
                    </configuration>
                </plugin>

                <!-- MUnit Plugin -->
                <plugin>
                    <groupId>com.mulesoft.munit.tools</groupId>
                    <artifactId>munit-maven-plugin</artifactId>
                    <version>{{munit.version}}</version>
                    <executions>
                        <execution>
                            <id>test</id>
                            <phase>test</phase>
                            <goals>
                                <goal>test</goal>
                                <goal>coverage-report</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <coverage>
                            <runCoverage>{{coverage.runCoverage}}</runCoverage>
                            <failBuild>{{coverage.failBuild}}</failBuild>
                            <requiredApplicationCoverage>{{coverage.requiredCoverage}}</requiredApplicationCoverage>
                            <formats>
                                <format>{{coverage.format.console}}</format>
                                <format>{{coverage.format.sonar}}</format>
                                <format>{{coverage.format.json}}</format>
                                <format>{{coverage.format.html}}</format>
                            </formats>
                        </coverage>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>

    <!-- (5) Distribution Management -->
    <distributionManagement>
        <repository>
            <id>{{serverId}}</id>
            <name>Corporate Repository</name>
            <url>{{private.exchange.url}}</url>
            <layout>{{corporate-repository.layout}}</layout>
        </repository>
    </distributionManagement>

</project>
