<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

	<modelVersion>4.0.0</modelVersion>
        <groupId>{{GROUP_ID}}</groupId>
        <artifactId>{{ARTIFACT_ID}}</artifactId>
        <version>{{VERSION}}</version>
	<packaging>jar</packaging>
	<name>Mule Agent :: Details</name>
	<url>http://maven.apache.org</url>

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
	</properties>

	<developers>
		<developer>
			<id>leonel.d.porto</id>
			<name>Leonel Dorneles Porto</name>
			<email>leoneldornelesporto@outlook.com.br</email>
			<organization>Accenture</organization>
			<organizationUrl>https://www.accenture.com</organizationUrl>
		</developer>
	</developers>

	<dependencies>
		<!-- Mule Dependencies -->
		<dependency>
			<groupId>com.mulesoft.mule.runtime</groupId>
			<artifactId>mule-core-ee</artifactId>
			<version>4.4.0</version> <!-- Altere conforme sua versão -->
		</dependency>

		<dependency>
			<groupId>com.mulesoft.agent</groupId>
			<artifactId>mule-agent-configuration</artifactId>
			<version>2.7.3</version>
		</dependency>

		<!-- External Dependencies -->
		<dependency>
			<groupId>org.yaml</groupId>
			<artifactId>snakeyaml</artifactId>
			<version>1.29</version> <!-- ou versão compatível -->
		</dependency>

		<!-- Test Dependencies -->
		<dependency>
			<groupId>com.mulesoft.mule.runtime.modules</groupId>
			<artifactId>mule-module-plugin-ee</artifactId>
			<version>4.4.0</version> <!-- ajuste se necessário -->
			<scope>test</scope>
		</dependency>

		<dependency>
			<groupId>junit</groupId>
			<artifactId>junit</artifactId>
			<version>4.13.2</version>
			<scope>test</scope>
		</dependency>

		<dependency>
			<groupId>org.mockito</groupId>
			<artifactId>mockito-all</artifactId>
			<version>1.10.19</version>
			<scope>test</scope>
		</dependency>

		<dependency>
			<groupId>org.apache.logging.log4j</groupId>
			<artifactId>log4j-api</artifactId>
			<version>2.17.1</version>
		</dependency>
	</dependencies>

	<pluginRepositories>
		<pluginRepository>
			<id>mulesoft-plugin-releases</id>
			<url>https://repository.mulesoft.org/releases/</url>
		</pluginRepository>
		<pluginRepository>
			<id>mulesoft-plugin-snapshots</id>
			<url>https://repository.mulesoft.org/snapshots/</url>
		</pluginRepository>
	</pluginRepositories>

	<repositories>
		<repository>
			<id>mulesoft-plugin-releases</id>
			<url>https://repository.mulesoft.org/releases/</url>
		</repository>
		<repository>
			<id>mulesoft-plugin-snapshots</id>
			<url>https://repository.mulesoft.org/snapshots/</url>
		</repository>
		<repository>
			<id>central</id>
			<url>https://repo.maven.apache.org/maven2</url>
		</repository>
	</repositories>

	<distributionManagement>
		<repository>
			<id>anypoint-exchange-v3</id>
			<name>Anypoint Exchange V3</name>
			<url>https://maven.anypoint.mulesoft.com/api/v2/organizations/${project.groupId}/maven</url>
			<layout>default</layout>
		</repository>
	</distributionManagement>
</project>
