<?xml version='1.0' encoding='utf-8'?>
<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>{{ groupId }}</groupId>
	<artifactId>{{ artifactId }}</artifactId>
	<version>{{ version }}</version>
	<packaging>jar</packaging>
	<name>{{ name }}</name>
	<url>http://maven.apache.org</url>

	{% if developers %}
	<developers>
		{% for dev in developers %}
		<developer>
			<id>{{ dev.id }}</id>
			<name>{{ dev.name }}</name>
			<email>{{ dev.email }}</email>
			<organization>{{ dev.organization }}</organization>
			<organizationUrl>{{ dev.organizationUrl }}</organizationUrl>
		</developer>
		{% endfor %}
	</developers>
	{% endif %}

	<parent>
		<groupId>{{ parent.groupId }}</groupId>
		<artifactId>{{ parent.artifactId }}</artifactId>
		<version>{{ parent.version }}</version>
	</parent>

	{% if dependencies %}
	<dependencies>
		{% for dep in dependencies %}
		<dependency>
			<groupId>{{ dep.groupId }}</groupId>
			<artifactId>{{ dep.artifactId }}</artifactId>
			{% if dep.version %}
			<version>{{ dep.version }}</version>
			{% endif %}
			{% if dep.classifier %}
			<classifier>{{ dep.classifier }}</classifier>
			{% endif %}
		</dependency>
		{% endfor %}
	</dependencies>
	{% endif %}

</project>
